<!DOCTYPE html>
<head>
    <title>Add Flight Info</title>
</head>
<body>
    <form method="POST" action="/postFlight">
        <label>Flight Number:</label>
        <input id="flightNumber" name="flightNumber" type="text"/>
        <label>Departure:</label>
        <input id="start" name="start" type="text"/>
        <label>Destination:</label>
        <input id="end" name="end" type="text"/>
        <label>Date and Time:</label>
        <input id="date" name="date" type="text"/>
        <label>Aircraft:</label>
        <input id="aircraft" name="aircraft" type="text"/>
        <input type="submit"/>
    </form>
</body>
</html>