<!DOCTYPE html>
<head>
    <title>Book Flight</title>
</head>
<body>
    <form method="POST" action="/bookFlight">
        <label>Flight Number:</label>
        <input id="flightNumber" name="flightNumber" type="text"/>
        <label>Name:</label>
        <input id="name" name="name" type="text"/>
        <label>Passport Number:</label>
        <input id="passNumber" name="passNumber" type="text"/>
        <input type="submit"/>
    </form>
    {% for flight in myFlight %}
    <li>{{ flight.flightNumber }} + {{ flight.start }} + {{ flight.end }} + {{ flight.date }} + {{ flight.aircraft }} </li>
    {% endfor %}
</body>
</html>